target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

https://github.com/github/gitignore/blob/main/Java.gitignore
https://github.com/github/gitignore/blob/main/Maven.gitignore

### Mac OS ###
.DS_Store